@import "tailwindcss";
@font-face {
  font-family: "Press Start 2P";
  src: url(/fonts/press-start-2p-v16-latin-regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  src: url(/fonts/fira-code-v27-latin-regular.woff2);
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  /* Fonts */
  --font-press: "Press Start 2P", cursive;
  --font-inter: "Inter", cursive;
  --font-fira: "Fira Code", cursive;

  /* text-size */
  --text-xxs: 9px

  /* Colors */
  --color-neo-bg: #FFFEF7;
  --color-neo-primary: #FF6B6B;
  --color-neo-secondary: #4ECDC4;
  --color-neo-tertiary: #45B7D1;
  --color-neo-accent: #FFA07A;
  --color-neo-pop: #98D8C8;
  --color-neo-text: #2C3E50;

  --color-primary: #4ECDC4;
  --color-secondary: #FF6B6B;
  --color-accent: #45B7D1;
  --color-highlight: #FECA57;
  --color-dark: #000000;
  --color-light: #FEF9F3;
  --color-primary-darker: #3aa69d;
  --color-secondary-darker: #d44a4a;
  --color-spring-green: #00FF7F;
  --color-red: #FF0000;

  /* Box Shadows */
  --shadow-neo: 8px 8px 0px #000000;
  --shadow-neo-sm: 4px 4px 0px #000000;
  --shadow-neo-secondary: 10px 10px 0px #FF6B6B;
  --shadow-neo-primary: 10px 10px 0px #4ECDC4;
  --shadow-neo-inset: inset -4px -4px 0px #000000;

  /* Shadows */
  --shadow-neo-inset: inset -4.5px -4.5px 0px rgba(0,0,0,0.3);
  --shadow-neo-inset-hover: inset -6.5px -6.5px 0px rgba(0,0,0,0.3);
  --shadow-neo-inset-active: inset 4px 4px 0px rgba(0,0,0,0.3);
  --shadow-neo-card: inset -4.5px -4.5px 0px rgba(0,0,0,0.2);
  --shadow-neo-card-hover: inset -6px -6px 0px rgba(0,0,0,0.2);

    @keyframes pulse-glow {
    0% {
      box-shadow: 0 0 0 0 rgba(57, 255, 20, 0.7);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(57, 255, 20, 0);
    }
  }

  --animate-pulse-glow: pulse-glow 1.5s infinite;
}



body {
  background-image:
    linear-gradient(45deg, #ddd 25%, transparent 25%),
    linear-gradient(-45deg, #ddd 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ddd 75%),
    linear-gradient(-45deg, transparent 75%, #ddd 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

/* Custom component for the chunky button border that Tailwind can't do with utilities */
@layer components {
  .btn-border::before,
  .btn-border::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  .btn-border::before {
    top: -6px;
    left: 0;
    border-top: 6px solid #000;
    border-bottom: 6px solid #000;
  }

  .btn-border::after {
    left: -6px;
    top: 0;
    border-left: 6px solid #000;
    border-right: 6px solid #000;
  }

  .feature-list li::marker {
    content: '■'; /* A chunky square marker */
    color: #000;
    font-size: 0.8em;
  }
}